/* 基本公共樣式 + 設置通用樣式 */
/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}